body {
  margin: 0;
}
.markdown-body > div > *:first-child {
  margin-top: 0 !important;
}
.markdown-body li.md > p.md:first-child {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.markdown-body > div .active-inner {
  background-color: #C5CAE9; /* Indigo 100 */
}
.markdown-body > div .active-outer, .markdown-body > div > .active-inner {
  background-color: #E8EAF6; /* Indigo 50 */
}

.appContainer {
  margin: 0.5em 4px;
  background-color: white;
}
.appContainer.activeApp {
  margin: 0.5em 0;
  padding-left: 2px;
  border-left: 2px solid #9FA8DA; /* Indigo 200 */
}

.appContainer.error {
  background-color: LemonChiffon;
}
.appContainer.error pre {
  margin: 0;
  padding: 0;
  font-size: 75%;
  max-height: 8em;
  overflow: auto;
}

.deleteBtn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background-color: #777777;
  color: #ffffff;
  border: 2px solid #777777;
  border-radius: 4px;
  font-size: 12px;
  margin-left: 10px;
  padding: 4px 8px;
  text-decoration: none;
  outline: none;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  cursor: pointer;
}

.deleteBtn:hover {
  background-color: #ffffff;
  color: #666666;
}

.deleteOkBtnModal {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background-color: #3498db;
  color: #ffffff;
  border: 1px solid #3498db;
  border-radius: 4px;
  font-size: 14px;
  margin: 10px 10px 0px 10px;
  padding: 8px 16px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.deleteOkBtnModal:hover {
  background-color: #2980b9;
}

.deleteCancelBtnModal {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background-color: #ffffff;
  color: #7f8c8d;
  border: 1px solid #7f8c8d;
  border-radius: 4px;
  font-size: 14px;
  margin: 10px 10px 0px 10px;
  padding: 8px 16px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

/*
https://github.com/tomkp/react-split-pane/blob/master/README.md#example-styling
*/
.Resizer {
  background: #000;
  opacity: .2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}
.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}
.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}
.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

/*
To hide scroll bar of react-split-pane
*/
.SplitPane {
  position: relative !important;
}
